.bg-img{
    background-image: url('./image/carousel/1.jpg');
    height: 100vh;
}
.bg-img1{
    background-image: url('./image/carousel/2.jpg');
    height: 100vh;
}
.bg-img2{
    background-image: url('./image/carousel/3.jpg');
    height: 100vh;
}
.client-img{
    width: 160px;
}